<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.gif</key>
	<string>[微笑]</string>
	<key>2.gif</key>
	<string>[撇嘴]</string>
	<key>3.gif</key>
	<string>[色]</string>
	<key>4.gif</key>
	<string>[发呆]</string>
	<key>5.gif</key>
	<string>[流泪]</string>
	<key>6.gif</key>
	<string>[害羞]</string>
	<key>7.gif</key>
	<string>[闭嘴]</string>
	<key>8.gif</key>
	<string>[睡]</string>
	<key>9.gif</key>
	<string>[大哭]</string>
	<key>10.gif</key>
	<string>[尴尬]</string>
	<key>11.gif</key>
	<string>[发怒]</string>
	<key>12.gif</key>
	<string>[调皮]</string>
	<key>13.gif</key>
	<string>[呲牙]</string>
	<key>14.gif</key>
	<string>[惊讶]</string>
	<key>15.gif</key>
	<string>[难过]</string>
	<key>16.gif</key>
	<string>[冷汗]</string>
	<key>17.gif</key>
	<string>[抓狂]</string>
	<key>18.gif</key>
	<string>[吐]</string>
	<key>19.gif</key>
	<string>[偷笑]</string>
	<key>20.gif</key>
	<string>[可爱]</string>
	<key>21.gif</key>
	<string>[白眼]</string>
	<key>22.gif</key>
	<string>[傲慢]</string>
	<key>23.gif</key>
	<string>[饥饿]</string>
	<key>24.gif</key>
	<string>[困]</string>
	<key>25.gif</key>
	<string>[惊恐]</string>
	<key>26.gif</key>
	<string>[流汗]</string>
	<key>27.gif</key>
	<string>[憨笑]</string>
	<key>28.gif</key>
	<string>[大兵]</string>
	<key>29.gif</key>
	<string>[奋斗]</string>
	<key>30.gif</key>
	<string>[咒骂]</string>
	<key>31.gif</key>
	<string>[疑问]</string>
	<key>32.gif</key>
	<string>[嘘]</string>
	<key>33.gif</key>
	<string>[晕]</string>
	<key>34.gif</key>
	<string>[折磨]</string>
	<key>35.gif</key>
	<string>[衰]</string>
	<key>36.gif</key>
	<string>[敲打]</string>
	<key>37.gif</key>
	<string>[再见]</string>
	<key>38.gif</key>
	<string>[擦汗]</string>
	<key>39.gif</key>
	<string>[抠鼻]</string>
	<key>40.gif</key>
	<string>[糗大了]</string>
	<key>41.gif</key>
	<string>[坏笑]</string>
	<key>42.gif</key>
	<string>[左哼哼]</string>
	<key>43.gif</key>
	<string>[右哼哼]</string>
	<key>44.gif</key>
	<string>[哈欠]</string>
	<key>45.gif</key>
	<string>[鄙视]</string>
	<key>46.gif</key>
	<string>[委屈]</string>
	<key>47.gif</key>
	<string>[快哭了]</string>
	<key>48.gif</key>
	<string>[阴险]</string>
	<key>49.gif</key>
	<string>[亲亲]</string>
	<key>50.gif</key>
	<string>[吓]</string>
	<key>51.gif</key>
	<string>[可怜]</string>
	<key>52.gif</key>
	<string>[拥抱]</string>
	<key>53.gif</key>
	<string>[月亮]</string>
	<key>54.gif</key>
	<string>[太阳]</string>
	<key>55.gif</key>
	<string>[炸弹]</string>
	<key>56.gif</key>
	<string>[骷髅]</string>
	<key>57.gif</key>
	<string>[菜刀]</string>
	<key>58.gif</key>
	<string>[猪头]</string>
	<key>59.gif</key>
	<string>[西瓜]</string>
	<key>60.gif</key>
	<string>[咖啡]</string>
	<key>61.gif</key>
	<string>[饭]</string>
	<key>62.gif</key>
	<string>[爱心]</string>
	<key>63.gif</key>
	<string>[强]</string>
	<key>64.gif</key>
	<string>[弱]</string>
	<key>65.gif</key>
	<string>[握手]</string>
	<key>66.gif</key>
	<string>[胜利]</string>
	<key>67.gif</key>
	<string>[抱拳]</string>
	<key>68.gif</key>
	<string>[勾引]</string>
	<key>69.gif</key>
	<string>[OK]</string>
	<key>70.gif</key>
	<string>[NO]</string>
	<key>71.gif</key>
	<string>[玫瑰]</string>
	<key>72.gif</key>
	<string>[凋谢]</string>
	<key>73.gif</key>
	<string>[示爱]</string>
	<key>74.gif</key>
	<string>[爱情]</string>
	<key>75.gif</key>
	<string>[飞吻]</string>
</dict>
</plist>
