<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[微笑]</string>
		<key>face_id</key>
		<string>001</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[撇嘴]</string>
		<key>face_id</key>
		<string>002</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[色]</string>
		<key>face_id</key>
		<string>003</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发呆]</string>
		<key>face_id</key>
		<string>004</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[流泪]</string>
		<key>face_id</key>
		<string>005</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>face_id</key>
		<string>006</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[闭嘴]</string>
		<key>face_id</key>
		<string>007</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[睡]</string>
		<key>face_id</key>
		<string>008</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大哭]</string>
		<key>face_id</key>
		<string>009</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>face_id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发怒]</string>
		<key>face_id</key>
		<string>011</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>face_id</key>
		<string>012</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[呲牙]</string>
		<key>face_id</key>
		<string>013</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊讶]</string>
		<key>face_id</key>
		<string>014</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[难过]</string>
		<key>face_id</key>
		<string>015</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[冷汗]</string>
		<key>face_id</key>
		<string>016</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抓狂]</string>
		<key>face_id</key>
		<string>017</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐]</string>
		<key>face_id</key>
		<string>018</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[偷笑]</string>
		<key>face_id</key>
		<string>019</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>face_id</key>
		<string>020</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[白眼]</string>
		<key>face_id</key>
		<string>021</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[傲慢]</string>
		<key>face_id</key>
		<string>022</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[饥饿]</string>
		<key>face_id</key>
		<string>023</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_id</key>
		<string>024</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊恐]</string>
		<key>face_id</key>
		<string>025</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[流汗]</string>
		<key>face_id</key>
		<string>026</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[憨笑]</string>
		<key>face_id</key>
		<string>027</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大兵]</string>
		<key>face_id</key>
		<string>028</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[奋斗]</string>
		<key>face_id</key>
		<string>029</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[咒骂]</string>
		<key>face_id</key>
		<string>030</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_id</key>
		<string>031</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘘]</string>
		<key>face_id</key>
		<string>032</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_id</key>
		<string>033</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[折磨]</string>
		<key>face_id</key>
		<string>034</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[衰]</string>
		<key>face_id</key>
		<string>035</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[敲打]</string>
		<key>face_id</key>
		<string>036</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[再见]</string>
		<key>face_id</key>
		<string>037</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[擦汗]</string>
		<key>face_id</key>
		<string>038</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>face_id</key>
		<string>039</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[糗大了]</string>
		<key>face_id</key>
		<string>040</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[坏笑]</string>
		<key>face_id</key>
		<string>041</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[左哼哼]</string>
		<key>face_id</key>
		<string>042</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[右哼哼]</string>
		<key>face_id</key>
		<string>043</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哈欠]</string>
		<key>face_id</key>
		<string>044</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>face_id</key>
		<string>045</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[委屈]</string>
		<key>face_id</key>
		<string>046</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[快哭了]</string>
		<key>face_id</key>
		<string>047</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[阴险]</string>
		<key>face_id</key>
		<string>048</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[亲亲]</string>
		<key>face_id</key>
		<string>049</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吓]</string>
		<key>face_id</key>
		<string>050</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[可怜]</string>
		<key>face_id</key>
		<string>051</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拥抱]</string>
		<key>face_id</key>
		<string>052</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[月亮]</string>
		<key>face_id</key>
		<string>053</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[太阳]</string>
		<key>face_id</key>
		<string>054</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[炸弹]</string>
		<key>face_id</key>
		<string>055</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[骷髅]</string>
		<key>face_id</key>
		<string>056</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[菜刀]</string>
		<key>face_id</key>
		<string>057</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[猪头]</string>
		<key>face_id</key>
		<string>058</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[西瓜]</string>
		<key>face_id</key>
		<string>059</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[咖啡]</string>
		<key>face_id</key>
		<string>060</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[饭]</string>
		<key>face_id</key>
		<string>061</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>face_id</key>
		<string>062</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[强]</string>
		<key>face_id</key>
		<string>063</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[弱]</string>
		<key>face_id</key>
		<string>064</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[握手]</string>
		<key>face_id</key>
		<string>065</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[胜利]</string>
		<key>face_id</key>
		<string>066</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抱拳]</string>
		<key>face_id</key>
		<string>067</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[勾引]</string>
		<key>face_id</key>
		<string>068</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[OK]</string>
		<key>face_id</key>
		<string>069</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[NO]</string>
		<key>face_id</key>
		<string>070</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[玫瑰]</string>
		<key>face_id</key>
		<string>071</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[凋谢]</string>
		<key>face_id</key>
		<string>072</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[示爱]</string>
		<key>face_id</key>
		<string>073</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱情]</string>
		<key>face_id</key>
		<string>074</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[飞吻]</string>
		<key>face_id</key>
		<string>075</string>
	</dict>
</array>
</plist>
